.projects {
  display: flex;
  background-color: #f9f9f9;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.projects p {
  font-size: 0.8rem;
  font-family: "Noto Sans", sans-serif;
}

.projects h3 {
  font-size: 0.85rem;
  font-family: 'Dosis', sans-serif;
}

.boxProjects {
  display: flex;
  flex-wrap: wrap;
  border-radius: 50px;
  justify-content: center;
  margin: auto;
  gap: 90px;
}

.projectCard {
  text-align: left;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  height: 550px;
}

.projectInfo {
  padding: 0 16px;
}

.projectInfo h2 {
  font-family: 'Dosis', sans-serif;;
  text-transform: uppercase;
}

.projectImage {
  width: 450px;
  height: 200px;
}

.projects h1 {
  font-size: 2.1rem;
  letter-spacing: -0.03em;
  color: #1d1d1f;
  text-transform: uppercase;
}

.projectText {
  white-space: pre-line;
}

.mySwiper {
  background-position: center;
  background-size: cover;
  width: 90%;
  max-width: 1200px;
  margin-inline: auto;
  padding: 40px 0;
}

.swiperBox {
  padding: 60px 0;
}

@media screen and (max-width: 640px) {
  .projects {
    height: 100%;
  }

  .projects h1 {
    font-size: 1.5rem;
  }
  
  .projectCard {
    width: 350px;
  }

  .projects p {
    font-size: 11px;
  }

  .projectImage {
    width: 350px;
    height: 150px;
  }

  .mySwiper {
    width: 95%;
    max-width: 400px;
  }
}
