.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
}

.hero p {
  color: #f5f5f7;
  font-size: 25px;
}

.hero h1 {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200% 100%;
  font-size: 70px;
  font-family: "Noto sans", sans-serif;
  letter-spacing: -0.03em;
  font-weight: 900;
  margin: 0;
  animation: moveBackground 3s linear infinite;
}

@keyframes moveBackground {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.heroText {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.neonText {
  font-weight: 900;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  text-align: center;
  color: #f5efcb;
  animation: flicker 1.5s infinite alternate;
  letter-spacing: 4px;
  font-size: 25px;
}

@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 40px rgb(183, 0, 255),
        0 0 80px rgb(132, 0, 255),
        0 0 90px rgb(204, 0, 255),
        0 0 100px rgb(255, 0, 149),
        0 0 150px rgb(255, 0, 98);
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

  @media screen and (max-width: 640px) {
    .hero {
      height: 100vh;
    }

    .hero p {
      font-size: 15px
    }

    .hero h1 {
      font-size: 40px;
    }
  }