.about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #F9F9F9;  
    height: 100vh; 
    color: #1d1d1f;
}

.aboutText h1 {
    font-size: 2.1rem;
    text-transform: uppercase;
    letter-spacing: -0.03em;
    font-weight: 900;
    padding: 15px 0 0 0;
}

.aboutText {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: 20px;
    padding: 20px 80px 20px 80px;
}

.aboutText p {
    text-align: left;
}

@media screen and (max-width: 640px) {
    .about {
        padding: 0;
        height: 100%;
    }

    .aboutText {
        padding: 0;
    }

    .aboutText h1 {
        font-size: 1.5rem;
    }

    .aboutText p {
        font-size: 13px;
    }
}