.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #F5F5F7;
    padding: 40px 80px 40px 80px;
    gap: 40px;
}

.footer p {
    margin: 0;
    color: #444445;
    font-weight: 900;
}

.footer h1 {
    color: #222222;
    font-size: 2.1rem;
}

.footerItems {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoFooter {
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 1024px) {
    .footer {
        padding: 40px 20px 40px 20px;
    }

    .footer p {
        font-size: 12px;
    }

    .footer h1 {
        font-size: 1.5rem;
    }
     
    .footerItems {
        flex-wrap: wrap;
        gap: 40px;
    }

    .logoFooter {
        width: 30px;
        height: 30px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1515px) {
    .footerItems {
        flex-wrap: wrap;
        gap: 40px;
    }
}